/* src/styles/Carousel.css */
.carousel-container {
  display:flex:
  align-items:center;
  justify-content:center;
  max-width: 80%;
  margin: 20px auto;
}
.carousel-item img {
  width: 100%;
  border-radius: 8px;
}
.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  font-size: 14px;
  color: #fff;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev {
  display: none;
  left: 10px;
}

.slick-next {
  display: none;
  right: 10px;
}
